<!DOCTYPE html>
<html><head><title>HDITA tables</title>
</head><body>
  <article id="hdita-tables">
      <h1>Tables</h1>
      <table id="dog-breeds-table">
        <caption>Dog breeds</caption>
        <tr>
          <th>
            <p>Breed</p>
          </th>
          <th>
            <p>Size</p>
          </th>
          <th>
            <p>Life expectancy</p>
          </th>
        </tr>
        <tr>
          <td>
            <p>Australian Shepard</p>
          </td>
          <td>
            <p>Medium</p>
          </td>
          <td>
            <p>10-15 years</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Beagle</p>
          </td>
          <td>
            <p>Small</p>
          </td>
          <td>
            <p>12-15 years</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Great Dane</p>
          </td>
          <td>
            <p>Extra-large</p>
          </td>
          <td>
            <p>7-10 years</p>
          </td>
        </tr>
      </table>
      <table id="dog-breed-categories">
        <caption>Categories of dog breeds</caption>
        <tr>
          <th>
            <p>Category</p>
          </th>
          <th>
            <p>Breed</p>
          </th>
          <th>
            <p>Size</p>
          </th>
          <th>
            <p>Life expectancy</p>
          </th>
        </tr>
        <tr>
          <td rowspan="3">
            <p>Hound group</p>
          </td>
          <td>
            <p>American Foxhound</p>
          </td>
          <td>
            <p>Large</p>
          </td>
          <td>
            <p>11-13 years</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Basset Hound</p>
          </td>
          <td>
            <p>Medium</p>
          </td>
          <td>
            <p>12-13 years</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Rhodesian Ridgeback</p>
          </td>
          <td>
            <p>Large</p>
          </td>
          <td>
            <p>10-12 years</p>
          </td>
        </tr>
        <!-- ... -->
      </table>
    </article>
</body></html>