<!DOCTYPE html>
<title>Fancy Roll</title>
<body>
  <article id="fancy-roll">
    <h1>Fancy Roll</h1>
    <table>
      <caption>Fancy roll ingredients</caption>
      <tr>
        <th>
          <p>Ingredient</p>
        </th>
        <th>
          <p>Amount</p>
        </th>
        <th>
          <p>Unit shipped</p>
        </th>
      </tr>
      <tr>
        <td>
          <p>Gohan rice</p>
        </td>
        <td>
          <p>140 gms.</p>
        </td>
        <td>
          <p>14 kgs.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Soya paper sheet</p>
        </td>
        <td>
          <p>1 pc.</p>
        </td>
        <td>
          <p>10 pcs.</p>
        </td>
      </tr>
    </table>
  </article>
</body>