Spec/out
Spec/temp
.DS_Store
Spec/.DS_Store
Spec/.DS_Store
org.oasis.xdita/.DS_Store
.gitignore
org.oasis.xdita/.DS_Store
org.oasis.xdita/.DS_Store
org.oasis.xdita/samples/.DS_Store
org.oasis.xdita/.DS_Store
out/
temp/
